
WordsGame/.vs/WordsGame/FileContentIndex/1445049b-df0d-460f-a319-f425e279c45b.vsidx
WordsGame/.vs/WordsGame/FileContentIndex/eb8816c3-929c-4826-86e9-0db1ae56fba2.vsidx
WordsGame/.vs/WordsGame/v17/Browse.VC.db
WordsGame/.vs/WordsGame/v17/Browse.VC.db-shm
WordsGame/.vs/WordsGame/v17/Browse.VC.db-wal
WordsGame/.vs/WordsGame/v17/Browse.VC.opendb
WordsGame/.vs/WordsGame/FileContentIndex/56de2513-4222-4ee0-8d4b-3521d0b87baf.vsidx
WordsGame/.vs/WordsGame/v17/ipch/AutoPCH/77435f5cd70daf6d/MAIN.ipch
